# System & IDE
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/

# OS
Thumbs.db
.env.local

# Tools 
/custombrightnessctl
/custombtoplauncher
/customhyprlandexit
/customlinkopenr
/customwofisearch
/hyprshot
/updateproject
/walk
/zen-browser
/Hyprshot
/apps

# TEMP  
change.sh